<h4>Register to embrace a new world!</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
        <input formControlName="email" class="form-control" placeholder="email" autofocus >
        <ap-vmessage 
            *ngIf="signupForm.get('email').errors?.required"
            text="Email is required" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('email').errors?.email"
            text="Email is not valid" >
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="fullName" class="form-control" placeholder="full name" >
        <ap-vmessage 
            *ngIf="signupForm.get('fullName').errors?.required"
            text="Full name is required" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('fullName').errors?.minlength"
            text="minLength is 2" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('fullName').errors?.maxlength"
            text="maxLength is 40" >
        </ap-vmessage>
    </div>

    <div class="form-group">
        <input formControlName="userName" class="form-control" placeholder="user name" >
        <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.required"
            text="User name is required" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.minlength"
            text="minLength is 2" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.maxlength"
            text="maxLength is 30" >
        </ap-vmessage>
         <!-- <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.pattern"
            text="Invalid user name" >
        </ap-vmessage> -->
        <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.lowercase"
            text="Invalid user name" >
        </ap-vmessage>
        <ap-vmessage 
            *ngIf="signupForm.get('userName').errors?.userNameTaken"
            text="User name already taken" >
        </ap-vmessage>
        <small *ngIf="signupForm.get('userName').valid" class="text-success">user name available!</small>
    </div>

    <div class="form-group">
        <input formControlName="password" type="password" class="form-control" placeholder="password" >
        <ap-vmessage 
            *ngIf="signupForm.get('password').errors?.required"
            text="Password is required" >
        </ap-vmessage>
    </div>

    <button [disabled]="signupForm.invalid || signupForm.pending" class="btn btn-primary btn-block">Register</button>

    <p>Already a user? <a [routerLink]="['']" >Sign In!</a> </p>
</form>